{
  "token": "",
  "join_message": "hello 👋. do .help to get started",
  "owners": [
    435206857276260353
  ],
  "prefix": [
    "."
  ],
  "activity": ".help",
  "activity_type": "playing",
  "status_type": "online",
  "version": "2.0.0"
}
